
.linkColor {
    background-color: #ffedd1!important
  }

  .button-primary {
    z-index: 0;
  }

  .button-second {
    z-index: 0;
  }

  .button-primary:hover {
    box-shadow: 4px 4px 0 #ffea51;
  }

  .button-second:hover {
    box-shadow: 4px 4px 0 #a34ffe;
  }


  .card-boxshadow {
    box-shadow: 30px 30px 0 #ffedd1;
    /* box-shadow: 30px 30px 0 rgba(61,82,107,0.75) */
  }
/*  */
